<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    </head>
    <body>
        <div class="logo-container">
            <img class="logo" src="{{ url_for('static', path='images/logo.png') }}" alt="Logo">
        </div>
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h1 class="mb-0">Recent Actions</h1>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col" class="truncate-wrap" style="width: 100px;">Date</th>
                                <th scope="col" class="truncate-wrap" style="width: 200px;">File Name</th>
                                <th scope="col" class="truncate-wrap" style="width: 250px;">Summary Type</th>
                                <th scope="col" class="truncate-wrap" style="width: 300px;">Custom Prompt</th>
                                <th scope="col" class="truncate-wrap" style="width: 300px;">Audience Context</th>
                                <th scope="col" class="truncate-wrap" style="width: 250px;">Screenshots</th>
                                <th scope="col" class="truncate-wrap" style="width: 150px;">Output Format</th>
                                <th scope="col" class="truncate-wrap" style="width: 150px;">Detail Level</th>
                                <th scope="col" class="truncate-wrap" style="width: 150px;">Summary Output</th>
                            </tr>
                        </thead>
                        
                            <tbody>
                                {% for action in actions %}
                                <tr>
                                    <td>{{ action.date }}</td>
                                    <td scope = "col" class="truncate-wrap" style="width: 200px;">{{ action.file_name }}</td>
                                    <td>{{ action.summary_type }}</td>
                                    <td class="truncate-wrap" style="width: 300px;">{{ action.custom_prompt }}</td>
                                    <td class="truncate-wrap" style="width: 300px;">{{ action.audience_context }}</td>
                                    <td>{{ action.screenshots }}</td>
                                    <td>{{ action.output_format }}</td>
                                    <td>{{ action.detail_level }}</td>
                                    <td><a class="btn btn-sm btn-primary" href="">Download</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>

